<div class="movies-filter-container">
  <div class="filter-section">
    <div class="search-input-container">
      <input
        (input)="search($event.target.value)"
        [value]="searchInputValue"
        [placeholder]="'movies.filter.search_placeholder' | translate"
        class="search-input"
        #searchInput
      />
      <mat-icon *ngIf="!searchInputValue" matSuffix class="search-icon" color="primary">search</mat-icon>
      <button mat-button *ngIf="searchInputValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="filter-section">
    <h1 class="filter-section-header">{{ "movies.filter.genre" | translate }}</h1>
    <mat-list *ngFor="let genre of genres">
      <mat-list-item class="genre">
        <mat-checkbox
          class="filter-checkbox"
          (change)="toggleGenre(genre?.value)"
          [checked]="genreSelection.isSelected(genre?.value)"
        ></mat-checkbox>
        <p>{{ genre?.genre | translate | uppercase }}</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="filter-section">
    <h1 class="filter-section-header">{{ "movies.filter.language" | translate }}</h1>
    <mat-list *ngFor="let language of languages">
      <mat-list-item class="language">
        <mat-checkbox
          class="filter-checkbox"
          (change)="toggleLanguage(language?.value)"
          [checked]="languageSelection.isSelected(language?.value)"
        ></mat-checkbox>
        <p>{{ language?.language | translate | uppercase }}</p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
