.movies-filter-container {
  height: 100%;
  margin-right: 50px;
  padding: 120px 30px 0;
}

.movie-search-header,
.genre-filters-header,
.language-filters-header {
  font-size: 20px;
  margin-left: 10px;
  padding: 10px;
  border-bottom: 1px dotted var(--blue);
  text-transform: uppercase;
}

.movie-search,
.genre-filters,
.language-filters {
  min-width: 200px;
  background-color: var(--medium-blue);
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 10px;
  color: var(--white);
  overflow: hidden;
}

.genre,
.language {
  color: var(--white);
  font-size: 13px;
}

.filter-checkbox {
  margin-right: 10px;
  color: var(--white);
}

.search-input-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 14px;
  background: var(--light-gray);
  padding: 10px 5px 10px 10px;
  height: 36px;
  border-radius: 4px;
  width: 100%;
}

input.search-input {
  vertical-align: inherit;
  text-overflow: ellipsis;
  width: 100%;
  font: inherit;
  background: 0 0;
  border: none;
  outline: 0;
  padding: 0;
  margin: 0;
}

input::placeholder {
  color: var(--indigo);
}

.search-icon {
  vertical-align: middle;
  margin: 0 8px 0 8px;
}

.close-icon {
  font-size: 17px;
  color: var(--indigo);
}

.search-input-container {
  width: 100%;
  background: none;

  input {
    color: var(--white);
    font-size: 16px;
    padding: 0 10px;
  }
}

.search {
  padding-top: 20px;
}
