.movie-screenings-container {
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding: 20px 40px;
}

.movie-screenings-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.dialog-header {
  color: var(--white);
  font-size: 25px;
  font-weight: 400;
}

.days {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.day {
  border: none;
  outline: none;
  color: var(--white);
  font-size: 16px;
  background-color: var(--blue);
  border-radius: 40px;
  padding: 0 10px;
  margin-right: 10px;
  box-shadow: 0 1em 1em -0.4em rgba(2, 13, 31, 0.667);
}

.day:hover,
.day:focus {
  transform: translateY(-0.25em);
  box-shadow: 0 0.5em 0.5em -0.4em var(--green);
  background-color: var(--green);
}

.movie-screenings-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.screening {
  height: 50px;
  width: 100px;
  margin: 10px;
  background: url('/assets/images/movie-ticket.png') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-button {
  color: var(--white);
  padding: 3px 20px;
  border-radius: 30px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 5px 70px;
  background-color: transparent;
  border: 1px solid var(--blue);
}
