.edit-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.genre-field {
  width: 100%;
  font-size: 18px;
}

mat-datepicker-toggle {
  color: var(--white);
  font-size: 15px;
}

.photo-upload {
  border: 1px dotted var(--blue);
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 30px 50px;
  margin-top: 30px;
}

.attach-photos-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  text-transform: uppercase;
  padding: 20px 10px 10px;
}

.attach-file-icon {
  height: 50px;
  width: 50px;
}

.file {
  color: var(--light-purple);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.file-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.file {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 16px;
}

.remove-photo-icon {
  cursor: pointer;
}

.genre-error {
  font-size: 12px;
}

.cover-photo-error {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 15px;
}

.uploaded-photos {
  margin-bottom: 30px;
}

.movie-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-photos-header {
  color: var(--white);
  font-size: 16px;
  text-transform: uppercase;
}

.save-button {
  font-size: 20px;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(90deg, var(--pink) 0%, var(--purple) 35%, var(--medium-purple) 100%);
  padding: 10px 200px;
  width: 50%;
  margin: 80px auto;
}
