<div class="cinema-home-container">
  <div class="navigation-bar" *ngIf="user">
    <nav mat-tab-nav-bar mat-stretch-tabs class="navigation-bar-list">
      <mat-icon class="film-roll-icon" svgIcon="movie_ticket"></mat-icon>
      <a
        mat-tab-link
        [routerLink]="['/cinemastic']"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ "home.menu.home" | translate }}</a
      >
      <a
        mat-tab-link
        [routerLink]="['/cinemastic/movies']"
        routerLinkActive
        #rla2="routerLinkActive"
        [active]="rla2.isActive"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ "home.menu.movies" | translate }}</a
      >
    </nav>
    <div class="signed-in-user">
      <p class="user-name">{{ "home.menu.user" | translate: { userName: user?.user.username } }}</p>
      <button mat-raised-button class="sign-out-button" color="primary" (click)="signOut()">{{ "auth.form.sign_out" | translate }}</button>
    </div>
  </div>
  <div class="cinema-home-content">
    <router-outlet></router-outlet>
  </div>
</div>
