.cinema-home-container {
  padding: 0 50px;
  min-width: 800px;
}

.navigation-bar {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.navigation-bar-list {
  display: flex;
  align-items: center;
}

.film-roll-icon {
  height: 70px;
  width: 100px;
  margin-right: 10px;
}

.mat-tab-link {
  color: var(--white);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.signed-in-user {
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 20px;
  margin: 0 10px 20px 0;
}

.sign-out-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border: 1px solid var(--blue);
  padding: 3px 30px;
  border-radius: 30px;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(90deg, var(--pink) 0%, var(--purple) 35%, var(--medium-purple) 100%);
  margin: 5px 0 0 20px;
}

.cinema-home-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
