.movie-details-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 300px;
}

.movie-details-header {
  height: 150px;
  background-color: var(--medium-blue);
  border: 1px solid var(--blue);
}

.movie-image {
  height: 450px;
  width: 300px;
  margin-top: -280px;
  margin-right: 50px;
  border: 1px solid var(--blue);
  border-radius: 5px;
}

.movie-details {
  height: 400px;
  margin-top: -300px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-information {
  display: flex;
  flex-direction: column;
}

.movie-title {
  color: var(--white);
  font-size: 36px;
}

.movie-genre {
  border: 1px solid var(--blue);
  max-width: 150px;
  color: var(--light-purple);
  font-size: 15px;
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  margin-top: 40px;
}

.movie-release-date-and-duration {
  display: flex;
  margin-top: 40px;
  color: var(--light-purple);
}

.movie-release-date,
.movie-duration {
  display: flex;
  margin-right: 20px;
}

.calendar-icon,
.clock-icon {
  margin-right: 10px;
}

.movie-actions {
  display: flex;
  align-items: baseline;
  color: var(--white);
}

.movie-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-bar {
  margin-right: 50px;
}

.users-rating {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.viewer-rating-icon {
  height: 28px;
  width: 28px;
  margin-right: 10px;
}

.rating-bar {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.book-tickets-button {
  width: 200px;
  height: 50px;
  margin: 40px 0;
  font-size: 20px;
  border-radius: 40px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(227, 72, 99, 1) 0%, rgba(151, 85, 181, 1) 35%, rgba(86, 95, 254, 1) 100%);
}

.movie-language {
  text-transform: uppercase;
  color: var(--light-purple);
  font-size: 14px;
}

.movie-details-content {
  margin-top: 100px;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 200px;
}

.overview,
.gallery,
.cast {
  border-bottom: 1px dotted var(--blue);
  padding: 50px;
  color: var(--white);
  font-size: 16px;
}

.overview-header,
.gallery-header,
.cast-header {
  color: var(--white);
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.photos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery-image {
  height: 200px;
  width: 300px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

p {
  margin: 0;
}
