<div class="movies-container">
  <div class="movies-banner">
    <div class="banner-photo"></div>
  </div>
  <h1 class="movies-header">
    {{ "movies.banner.header.catch" | translate | uppercase }}
    <span class="header-movie">{{ "movies.banner.header.movie" | translate | uppercase }}</span>
    {{ "movies.banner.header.before_everyone" | translate | uppercase }}
  </h1>
  <div class="movies">
    <app-movies-filter></app-movies-filter>
    <app-movies-list></app-movies-list>
  </div>
</div>
