.banner {
  height: 500px;
  background: url('/assets/images/auditorium-banner.jpeg');
  background-color: rgba(31, 65, 109, 0.322);
  background-blend-mode: difference;
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  transform: scale(1.2);
  margin: -50px;
}

.banner-header {
  color: var(--white);
  text-align: center;
  position: absolute;
  top: 260px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-title {
  color: var(--white);
  font-size: 70px;
  padding: 0;
}

.movie-details {
  display: flex;
  color: var(--white);
  justify-content: space-evenly;
  width: 10%;
}

.auditorium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.back-button,
.book-button {
  padding: 5px 40px;
  color: var(--white);
  border-radius: 30px;
  font-size: 18px;
  background: linear-gradient(90deg, var(--pink) 0%, var(--purple) 35%, var(--medium-purple) 100%);
}

.auditorium-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screening-details {
  display: flex;
  color: var(--white);
  justify-content: space-evenly;
  font-size: 20px;
}

.screening-detail {
  margin-right: 10px;
}

.auditorium-header {
  background-color: var(--medium-blue);
  border: 1px solid var(--blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}

.arrow-icon {
  font-size: 20px;
  margin: 5px 5px 0 0;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.screen-header,
.seats-header {
  font-size: 30px;
  color: var(--green);
  border-bottom: 1px solid var(--blue);
  border-top: 1px solid var(--blue);
  padding: 10px 0;
  width: 300px;
  display: flex;
  justify-content: center;
}

.screen-image {
  margin: 50px 0;
}

.auditorium-seats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  display: flex;
}

.row-number {
  font-size: 25px;
  color: var(--green);
  margin: 15px 30px 0 0;
}

.aisle {
  width: 80px;
}

.seat-button {
  border: none;
  padding: 0;
  background: none;
  outline: none;
  font-size: 15px;
  color: var(--white);
}

.seat {
  height: 40px;
  width: 60px;
  margin: 10px;
  background: url('/assets/images/movie-seat.png') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-seat {
  background: url('/assets/images/movie-seat-selected.png') no-repeat;
  background-size: cover;
}

.reservation-overview-container {
  width: 60%;
  margin: 100px 0;
  padding: 0 30px;
  border-top: 1px solid var(--blue);
}

.reservation-overview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.selected-seats-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.selected-seats-title {
  color: var(--white);
  font-size: 18px;
  margin-right: 10px;
}

.selected-seat-numbers {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.selected-seats-numbers {
  font-size: 25px;
  font-weight: 500;
  color: var(--green);
  margin-right: 10px;
}
