.banner {
  height: 100vh;
  background: url('/assets/images/movies-banner.jpeg');
  background-color: var(--medium-blue);
  background-blend-mode: difference;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.08;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.sign-in-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  color: var(--white);
  font-size: 40px;
  margin-bottom: 60px;
  text-transform: uppercase;
  word-wrap: break-word;
  width: 60%;
  text-align: center;
}

.header-cinemastic {
  color: var(--green);
}

.sing-in-form-container {
  background-color: rgba(255, 255, 255, 0.007);
  height: 75vh;
  width: 500px;
  box-shadow: 0 0 30px 20px rgba(2, 13, 31, 0.667);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sing-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mat-form-field {
  width: 300px;
  color: var(--white);
}

.form-error {
  font-size: 12px;
  position: absolute;
  top: 200px;
}

.show-password {
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: var(--green);
  }
}

.sign-in-button {
  padding: 5px 100px;
  margin: 50px 0;
  color: var(--white);
  border-radius: 30px;
  font-size: 20px;
  background: linear-gradient(90deg, var(--pink) 0%, var(--purple) 35%, var(--medium-purple) 100%);
}
