.cinema-home-container {
  padding: 0 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 50px;
}

.navigation-bar-list {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}

.logo {
  height: 40px;
  width: 80px;
  margin-top: 15px;
}

.signed-in-user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  z-index: 1;
}

.user-button {
  background: none;
  outline: none;
  display: flex;
  align-items: center;

  &:hover {
    .user-name,
    .arrow-icon {
      color: var(--green);
    }
  }
}

.user-name {
  color: var(--white);
  font-size: 20px;
  margin-right: 10px;
}

.mat-menu-item {
  color: var(--white);
  font-size: 18px;
  &:hover {
    color: var(--green);
  }
}

.arrow-icon {
  color: var(--white);
  font-size: 30px;
  margin-bottom: 3px;
}

.mat-tab-link {
  width: 100%;
  height: 100%;
}

.sign-out-button {
  padding: 5px 40px;
  margin-left: 20px;
  color: var(--white);
  border-radius: 30px;
  font-size: 18px;
  text-transform: uppercase;
  background: linear-gradient(90deg, var(--pink) 0%, var(--purple) 35%, var(--medium-purple) 100%);
}

.cinema-home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}
