.movie-details-container {
  width: 100vw;
}

.movie-details-header {
  height: 150px;
  background-color: var(--medium-blue);
  border: 1px solid var(--blue);
  width: 100%;
  margin-top: 400px;
}

.movie-image {
  height: 450px;
  width: 300px;
  margin-top: -280px;
  margin-right: 50px;
  border: 1px solid var(--blue);
  border-radius: 5px;
}

.movie-details {
  height: 400px;
  margin-top: -300px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-information {
  display: flex;
  flex-direction: column;
}

.movie-title {
  color: var(--white);
  font-size: 36px;
}

.movie-language {
  text-transform: uppercase;
  color: var(--light-purple);
  font-size: 14px;
}

.play-button {
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  margin-top: 30px;
}

.play-icon {
  color: var(--light-purple);
  height: 35px;
  width: 35px;
  &:hover {
    color: var(--green);
  }
}

.movie-release-date-and-duration {
  display: flex;
  margin-top: 30px;
  color: var(--light-purple);
}

.movie-release-date,
.movie-duration {
  display: flex;
  margin-right: 20px;
}

.calendar-icon,
.clock-icon {
  margin-right: 10px;
}

.movie-actions {
  display: flex;
  align-items: baseline;
  color: var(--white);
}

.movie-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-bar {
  margin-right: 50px;
}

.users-rating {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.viewer-rating-icon {
  height: 28px;
  width: 28px;
  margin-right: 10px;
}

.rating-bar {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.book-tickets-button {
  padding: 5px 40px;
  margin: 40px 0;
  color: var(--white);
  border-radius: 30px;
  font-size: 18px;
  text-transform: uppercase;
  background: linear-gradient(90deg, var(--pink) 0%, var(--purple) 35%, var(--medium-purple) 100%);
}

.movie-details-content {
  margin-top: 100px;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 200px;
}

.overview,
.gallery {
  border-bottom: 1px dotted var(--blue);
  padding: 50px;
  color: var(--white);
  font-size: 16px;
}

.overview-header,
.gallery-header {
  color: var(--white);
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.photos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery-image {
  height: 200px;
  width: 300px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

p {
  margin: 0;
}
