.sign-in-form-container {
  height: 75vh;
  width: 500px;
  box-shadow: 0 0 30px 20px rgba(2, 13, 31, 0.667);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-in-header {
  color: var(--white);
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  word-wrap: break-word;
  width: 60%;
  text-align: center;
}

.header-cinemastic {
  color: var(--green);
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.mat-form-field {
  width: 300px;
  color: var(--white);
}

.show-password {
  font-size: 20px;
  cursor: pointer;

  &:hover {
    color: var(--green);
  }
}

.password-reminder {
  align-self: flex-end;
  font-size: 13px;
  color: var(--indigo);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: var(--green);
  }
}

.sign-in-button {
  padding: 5px 50px;
  margin: 40px 0;
  color: var(--white);
  border-radius: 30px;
  font-size: 20px;
  background: linear-gradient(90deg, var(--pink) 0%, var(--purple) 35%, var(--medium-purple) 100%);
}

.icon-buttons-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.sign-in-providers {
  line-height: 0.5;
  text-align: center;
}

.sign-in-providers span {
  display: inline-block;
  position: relative;
  color: var(--white);
}

.sign-in-providers span:before,
.sign-in-providers span:after {
  content: '';
  position: absolute;
  height: 5px;
  border-bottom: 1px solid var(--white);
  top: 0;
  width: 100px;
}

.sign-in-providers span:before {
  right: 100%;
  margin-right: 15px;
}

.sign-in-providers span:after {
  margin-left: 15px;
}
