<div class="movie-screenings-dialog-container">
  <div class="movie-screenings-dialog-content">
    <p class="dialog-header">{{ "movie.screenings.header" | translate | uppercase }}</p>
    <div class="day-selection">
      <button mat-raised-button class="day" *ngFor="let day of weekDays" (click)="onWeekDaySelection(day.value)">
        {{ day.day | translate | uppercase }}
      </button>
    </div>
    <div class="movie-screenings-list">
      <button mat-button mat-dialog-close class="screening" *ngFor="let screening of screenings" (click)="selectScreening(screening)">
        <span class="time">{{ screening.time }}</span>
      </button>
    </div>
  </div>
  <button class="close-button" mat-raised-button mat-dialog-close>{{ "common.close" | translate | uppercase }}</button>
</div>
