<div class="movie-managing-panel-container" [@fadeInTrigger]="true">
  <div class="banner"></div>
  <div class="movie-managing-panel-content">
    <div class="left-section">
      <app-movies-list></app-movies-list>
    </div>
    <div class="right-section">
      <p class="manage-panel-header">
        {{ (isInEditMode ? "movie.managing.panel.edit" : "movie.managing.panel.add") | translate | uppercase }}
        <span class="title-movie">{{ "movie.managing.panel.movie" | translate }}</span>
      </p>
      <app-movie-details-form></app-movie-details-form>
    </div>
  </div>
</div>
