.movie-managing-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-managing-panel-content {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  height: 100%;
  margin-top: 700px;
}

.banner {
  height: 870px;
  width: 100vw;
  background: url('/assets/images/working-people-banner.jpeg');
  background-color: var(--medium-blue);
  background-blend-mode: difference;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.1;
  transform: scale(1.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.left-section {
  width: 25%;
  margin-top: 250px;
}

.right-section {
  width: 65%;
}

.manage-panel-header {
  color: var(--white);
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  padding-bottom: 40px;
}

.title-movie {
  color: var(--green);
}
