.remove-movie-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
}

.dialog-header {
  color: var(--white);
  font-size: 25px;
  font-weight: 400;
}

.remove-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.confirmation-text {
  margin-top: 50px;
  line-height: 30px;
  text-align: center;
}

.mat-dialog-title {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.remove-dialog-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 20px;
  padding: 16px 20px;
}

.mat-flat-button {
  min-width: 200px;
  margin-bottom: 20px;
  color: var(--white);
  padding: 3px 20px;
  border-radius: 30px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.remove-movie-button {
  background-color: var(--pink);
}

.close-remove-dialog-button {
  background-color: transparent;
  border: 1px solid var(--blue);
}
