<div class="remove-movie-container">
  <div class="remove-dialog-content">
    <h1 mat-dialog-title>{{ "movie.remove.dialog.remove_movie" | translate }}</h1>
    <p class="confirmation-text">{{ "movie.remove.dialog.confirmation_text" | translate: { movieTitle: data?.title } }}</p>
  </div>
  <mat-dialog-actions class="remove-dialog-bottom">
    <button mat-flat-button class="remove-movie-button" (click)="onRemoveMovie()" mat-dialog-close>
      {{ "movie.remove.dialog.remove" | translate }}
    </button>
    <button mat-flat-button mat-dialog-close class="close-remove-dialog-button">{{ "movie.remove.dialog.close" | translate }}</button>
  </mat-dialog-actions>
</div>
