@import '~@angular/material/theming';
@import 'colors/colors';

$cinema-app-primary: mat-palette($mat-indigo);
$cinema-app-accent: mat-palette($mat-pink, A200, A100, A400);
$cinema-app-warn: mat-palette($mat-red);
$cinema-app-theme: mat-light-theme($cinema-app-primary, $cinema-app-accent, $cinema-app-warn);

@include mat-core();
@include angular-material-theme($cinema-app-theme);
@import '~ngx-bar-rating/themes/br-stars-theme';
@import url(../node_modules/font-awesome/css/font-awesome.css);

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--dark-blue);
}

.mat-form-field {
  font-size: 20px;
  .mat-input-element,
  .mat-form-field-label {
    color: var(--white);
  }

  .mat-form-field-underline {
    background-color: var(--blue);
  }
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--blue);
}

.mat-checkbox-frame {
  border-color: var(--white);
}

.ngx-pagination {
  span,
  .pagination-previous a,
  .pagination-next a {
    color: var(--white);
    &:hover {
      color: var(--green);
      background: none;
      cursor: pointer;
    }
  }
}

.ngx-pagination li.current {
  border-radius: 30px;
  background: var(--medium-blue);
}

.mat-dialog-container,
.mat-menu-panel {
  background-color: var(--dark-blue);
}

.mat-tooltip {
  font-size: 16px;
  padding: 10px;
  color: var(--white);
  background-color: var(--dark-blue);
}

.snack-bar {
  color: var(--white);
  background-color: var(--medium-blue);
  span {
    margin: auto;
  }
}
