@import '~@angular/material/theming';
@import 'colors/colors';

$cinema-app-primary: mat-palette($mat-indigo);
$cinema-app-accent: mat-palette($mat-pink, A200, A100, A400);
$cinema-app-warn: mat-palette($mat-red);
$cinema-app-theme: mat-light-theme($cinema-app-primary, $cinema-app-accent, $cinema-app-warn);

@include mat-core();
@include angular-material-theme($cinema-app-theme);
@import '~ngx-bar-rating/themes/br-stars-theme';
@import url(../node_modules/font-awesome/css/font-awesome.css);

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--dark-blue);
}

.mat-form-field {
  font-size: 20px;
  .mat-input-element,
  .mat-form-field-label {
    color: var(--white);
  }

  .mat-form-field-underline {
    background-color: var(--white);
  }
}

.mat-checkbox-frame {
  border-color: var(--white);
}

.ngx-pagination {
  span,
  .pagination-previous a,
  .pagination-next a {
    color: var(--white);
    &:hover {
      color: var(--green);
      background: none;
      cursor: pointer;
    }
  }
}

.ngx-pagination li.current {
  border-radius: 30px;
  background: linear-gradient(90deg, var(--pink) 0%, var(--purple) 35%, var(--medium-purple) 100%);
}

.mat-select-panel {
  background-color: var(--dark-blue);
  border: 1px solid var(--blue);
  min-height: 340px;
}

.mat-select-arrow,
.mat-select-value,
.mat-option-text,
.mat-select-placeholder {
  color: var(--white);
}

.mat-dialog-container {
  background-color: var(--dark-blue);
}
