<div class="movies-list-container">
  <div class="movies-list" *ngIf="filteredMovies.length">
    <mat-card class="movie-card" *ngFor="let movie of filteredMovies | paginate: { itemsPerPage: 6, currentPage: p }">
      <img mat-card-image (click)="onShowMovieDetails(movie)" class="movie-image" [src]="apiUrl + movie.coverPhoto?.url" />
      <mat-card-content class="card-content">
        <div class="card-header">
          <span class="movie-title">{{ movie.title }}</span>
          <div class="movie-details">
            <div class="movie-genre">
              <img class="genre-icon" src="assets/images/genre.png" />
              <span>{{ movie.genre }}</span>
            </div>
            <div class="movie-duration">
              <mat-icon class="movie-details-icon" svgIcon="clock"></mat-icon>
              <span>{{ movie.duration | movieDuration }}</span>
            </div>
            <div class="movie-rating">
              <mat-icon class="movie-details-icon" svgIcon="rating_star"></mat-icon>
              <span>{{ movie.ratings | movieRatingAverage }}</span>
            </div>
          </div>
          <div class="movie-details-and-actions">
            <button class="book-tickets-button" mat-raised-button color="primary" (click)="onShowMovieScreenings(movie)">
              {{ "movie.details.book_tickets" | translate }}
            </button>
            <button class="play-button" (click)="onShowMovieTrailer(movie)">
              <mat-icon class="play-icon" svgIcon="play_button"></mat-icon>
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <pagination-controls *ngIf="filteredMovies.length && filteredMovies.length > 6" (pageChange)="p = $event"></pagination-controls>
</div>
